.card {
  width: 290px;
  box-sizing: border-box;
  border-radius: 1px 2px 2px rgb(28, 98, 126);
  box-shadow: 2px 3px 3px rgb(79, 140, 180);
  font-size: 14px;
  margin: 14px;
  padding: 10px;
  background-color: #134347;
  color: aliceblue;
  border-radius: 5px;
}
